@import 'tailwindcss';

/* Plus Jakarta Sans Font Family */
@font-face {
  font-family: 'Jakarta';
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta';
  src: url('/fonts/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Bold';
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Bold';
  src: url('/fonts/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-ExtraBold';
  src: url('/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-ExtraBold';
  src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-ExtraLight';
  src: url('/fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-ExtraLight';
  src: url('/fonts/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Light';
  src: url('/fonts/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Light';
  src: url('/fonts/PlusJakartaSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Medium';
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-Medium';
  src: url('/fonts/PlusJakartaSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-SemiBold';
  src: url('/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta-SemiBold';
  src: url('/fonts/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Jakarta Font Family */
  --font-jakarta: 'Jakarta', sans-serif;
  --font-jakarta-bold: 'Jakarta-Bold', sans-serif;
  --font-jakarta-extrabold: 'Jakarta-ExtraBold', sans-serif;
  --font-jakarta-extralight: 'Jakarta-ExtraLight', sans-serif;
  --font-jakarta-light: 'Jakarta-Light', sans-serif;
  --font-jakarta-medium: 'Jakarta-Medium', sans-serif;
  --font-jakarta-semibold: 'Jakarta-SemiBold', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jakarta', sans-serif;
}
